.home-main{
    margin-top: 95px;
   
    background-color: #fff;
    
    .home-banner{
        width: 100%;


        img{
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
        .banner-content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--text-color);
            text-align: center;
            .banner-title{
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 20px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            }
            .sub-title{
                font-size: 20px;
                margin-bottom: 30px;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
            }
        }
    }
}
.home-content{
   .title-box{
        margin-bottom: 40px;
        .box-title{
            font-size: 26px;
            font-weight: bold;
            color: var(--secondary-color);
        }
    }
    .content-box{
        height: 230px;
        background-color: var(--white-color);
        padding: 20px;

        .content-icon{
            font-size: 36px;
            color: var(--secondary-color);
            margin-bottom: 16px;
        }

        .box-text{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 12px;
            color: var(--secondary-color);
            // line-height: 1.5px;
        }
        .decs{
            font-size: 16px;
            color: var(--black-color);
            line-height: 1.4;
        }
    }
}