.home-main{
    margin-top: 95px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    
    .home-banner{
        width: 100%;


        img{
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
        .banner-content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--text-color);
            text-align: center;

            .banner-title{
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 20px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            }
            .sub-title{
                font-size: 20px;
                margin-bottom: 30px;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
            }
        }
    }
}