.form-main{
    display: flex;
    justify-content: center;
    background-color: #fff;

    .login-content{
        display: flex;
        border: 2px solid var(--primary-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        overflow: hidden;
        .login-banner{
            width: 70%;
            height: auto;
            border-radius: 20px;
            border-right: 2px solid var(--primary-color);
        }
        .login-form{
            padding: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .form-controller{
                display: flex;
                flex-direction: column;
                width: 100%;
                h2{
                    margin-bottom: 20px;
                    font-family: 'Raleway', sans-serif;
                    color: var(--primary-color);
                    text-align: center;
                }

                label{
                    margin-bottom: 5px;
                    font-weight: bold;
                    display: block;
                    color: var(--primary-color);
                }

                input{
                    margin-bottom: 15px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    width: 100%;
                    
                    &:focus{
                        border-color: var(--primary-color);
                        outline: none;
                    }
                }

                button{
                    padding: 10px;
                    background-color: var(--button-color);
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 16px;
                    &:hover{
                        opacity: .9;
                    }
                }
                .form-text{
                    margin-top: 10px;
                    font-size: 16px;
                    color: var(--text-color);
                    display: flex;
                    justify-content: center;

                    span{
                        margin-left: 5px;
                        a{
                            color: var(--primary-color);
                            font-weight: bold;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }

            }
        }
    }
}